body{
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
}

form{
    max-width: 300px;
    margin: auto;
    padding: 10px;
    border: solid 1px #a0a0a0;
    border-radius: 10px;
    background-color: #e4e4e4;
}

label{
    display: block;
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 2px;
    margin-top: 2px;
    box-sizing: border-box;
}

button{
    width: 50%;
    margin-left: 75px;
    padding: 5px;
    margin-top: 10px;
    color: #ffffff;
    border-radius: 5px;
    border: solid 1px #a0a0a0;
    cursor: pointer;
}

.btn-cadastrar{
    background: #55a87d;
}

.btn-cadastrar:hover{
    background: #65c593;
    border: solid 1px #cecece;
}
